In [1]:
import pandas as pd

### 1.查看数据

In [10]:
pollution_df = pd.read_csv('../data/pollution.csv',header=0, index_col=0)

In [11]:
pollution_df.head()

                     pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
date
2010-01-02 00:00:00      129.0  -16  -4.0  1020.0      SE     1.79     0     0
2010-01-02 01:00:00      148.0  -15  -4.0  1020.0      SE     2.68     0     0
2010-01-02 02:00:00      159.0  -11  -5.0  1021.0      SE     3.57     0     0
2010-01-02 03:00:00      181.0   -7  -5.0  1022.0      SE     5.36     1     0
2010-01-02 04:00:00      138.0   -7  -5.0  1022.0      SE     6.25     2     0

In [12]:
pollution_df.tail()

                     pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
date
2014-12-31 19:00:00        8.0  -23  -2.0  1034.0      NW   231.97     0     0
2014-12-31 20:00:00       10.0  -22  -3.0  1034.0      NW   237.78     0     0
2014-12-31 21:00:00       10.0  -22  -3.0  1034.0      NW   242.70     0     0
2014-12-31 22:00:00        8.0  -22  -4.0  1034.0      NW   246.72     0     0
2014-12-31 23:00:00       12.0  -21  -3.0  1034.0      NW   249.85     0     0

可以看出数据的日期是 从 2010-01-02 00:00:00  到  2014-12-31 23:00:00
其中说明一下各列代表的含义：
pollution:PM2.5浓度
dew:露点
temp:温度
press:压力
wnd_dir:综合风向
wnd_spd:累计风速
snow:累计下了几个小时的雪
rain:累计下了几个小时的雨

传统的时间序列预测是 没有任何其余的信息 ，就是昨天的预测今天的数据，t-timsetep ~ t-1天的变量预测t 一整天的pollution
一种更合理的预测方法是timestemps个时间步，将上t天的其他变量预测t天的数据
构建每天的特征
1.时间特征：hour,dayofweek,dayofmonth,month,year
2.基本变量特征：dew:露点，temp:温度，press:压力，wnd_dir:综合风向，wnd_spd:累计风速，snow:累计下了几个小时的雪，rain:累计下了几个小时的雨
3.时间序列特征：前7天的pollution，前30天的pollution

设定timestemps = 30 ,即根据之前的一个月的pollution预测之后的一整天pollution

### 2.构造特征数据

1.构造时间基本信息特征

In [27]:
pollution_df['date'] = pollution_df.index

In [28]:
pollution_df.head()

,pollution,dew,temp,press,wnd_dir,wnd_spd,snow,rain,date
date,,,,,,,,,
2010-01-02 00:00:00,129.0,-16,-4.0,1020.0,SE,1.79,0,0,2010-01-02 00:00:00
2010-01-02 01:00:00,148.0,-15,-4.0,1020.0,SE,2.68,0,0,2010-01-02 01:00:00
2010-01-02 02:00:00,159.0,-11,-5.0,1021.0,SE,3.57,0,0,2010-01-02 02:00:00
2010-01-02 03:00:00,181.0,-7,-5.0,1022.0,SE,5.36,1,0,2010-01-02 03:00:00
2010-01-02 04:00:00,138.0,-7,-5.0,1022.0,SE,6.25,2,0,2010-01-02 04:00:00

In [30]:
pollution_df['hour'] = pd.to_datetime(pollution_df['date'],format='%Y-%m-%d %H:%M:%S').dt.hour
pollution_df['month'] = pd.to_datetime(pollution_df['date'],format='%Y-%m-%d %H:%M:%S').dt.month
pollution_df['year'] = pd.to_datetime(pollution_df['date'],format='%Y-%m-%d %H:%M:%S').dt.year

In [31]:
pollution_df.head()

,pollution,dew,temp,press,wnd_dir,wnd_spd,snow,rain,date,hour,month,year
date,,,,,,,,,,,,
2010-01-02 00:00:00,129.0,-16,-4.0,1020.0,SE,1.79,0,0,2010-01-02 00:00:00,0,1,2010
2010-01-02 01:00:00,148.0,-15,-4.0,1020.0,SE,2.68,0,0,2010-01-02 01:00:00,1,1,2010
2010-01-02 02:00:00,159.0,-11,-5.0,1021.0,SE,3.57,0,0,2010-01-02 02:00:00,2,1,2010
2010-01-02 03:00:00,181.0,-7,-5.0,1022.0,SE,5.36,1,0,2010-01-02 03:00:00,3,1,2010
2010-01-02 04:00:00,138.0,-7,-5.0,1022.0,SE,6.25,2,0,2010-01-02 04:00:00,4,1,2010

In [33]:
pollution_df['dayOfMonth'] = pd.to_datetime(pollution_df['date'],format='%Y-%m-%d %H:%M:%S').dt.day

In [36]:
pollution_df['weekend'] = pd.to_datetime(pollution_df['date'],format='%Y-%m-%d %H:%M:%S').dt.dayofweek

In [43]:
pollution_df.head()

,pollution,dew,temp,press,wnd_dir,wnd_spd,snow,rain,hour,month,year,dayOfMonth,weekend
date,,,,,,,,,,,,,
2010-01-02 00:00:00,129.0,-16,-4.0,1020.0,SE,1.79,0,0,0,1,2010,2,5
2010-01-02 01:00:00,148.0,-15,-4.0,1020.0,SE,2.68,0,0,1,1,2010,2,5
2010-01-02 02:00:00,159.0,-11,-5.0,1021.0,SE,3.57,0,0,2,1,2010,2,5
2010-01-02 03:00:00,181.0,-7,-5.0,1022.0,SE,5.36,1,0,3,1,2010,2,5
2010-01-02 04:00:00,138.0,-7,-5.0,1022.0,SE,6.25,2,0,4,1,2010,2,5

2.在构建时间序列特征之前，应该首先对特征进行归一化，分类特征进行编码

In [44]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder


# 整数编码
encoder = LabelEncoder()
pollution_df['wnd_dir_enc'] = encoder.fit_transform(pollution_df['wnd_dir'])

min_max_cols = ['dew','temp','press','wnd_dir_enc','wnd_spd','snow','rain']
# 归一化特征
scaler = MinMaxScaler(feature_range = (0,1))
pollution_df[min_max_cols] = scaler.fit_transform(pollution_df[min_max_cols])

/home/fengjiaxin/fengjiaxin/anaconda3/lib/python3.5/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [45]:
pollution_df.head()

,pollution,dew,temp,press,wnd_dir,wnd_spd,snow,rain,hour,month,year,dayOfMonth,weekend,wnd_dir_enc
date,,,,,,,,,,,,,,
2010-01-02 00:00:00,129.0,0.352941,0.245902,0.527273,SE,0.002290,0.000000,0.0,0,1,2010,2,5,0.666667
2010-01-02 01:00:00,148.0,0.367647,0.245902,0.527273,SE,0.003811,0.000000,0.0,1,1,2010,2,5,0.666667
2010-01-02 02:00:00,159.0,0.426471,0.229508,0.545455,SE,0.005332,0.000000,0.0,2,1,2010,2,5,0.666667
2010-01-02 03:00:00,181.0,0.485294,0.229508,0.563636,SE,0.008391,0.037037,0.0,3,1,2010,2,5,0.666667
2010-01-02 04:00:00,138.0,0.485294,0.229508,0.563636,SE,0.009912,0.074074,0.0,4,1,2010,2,5,0.666667

3.构建时间序列特征
最简单的时间特征，第7小时的污染和第6，第5，第4小时的污染相关，设定第t - lagging_day  - t - 1 小时的pollution为特征

In [46]:
pollution_df['pollution(t-1)'] = pollution_df['pollution'].shift(1)
pollution_df['pollution(t-2)'] = pollution_df['pollution'].shift(2)
pollution_df['pollution(t-3)'] = pollution_df['pollution'].shift(3)

In [47]:
pollution_df.head()

,pollution,dew,temp,press,wnd_dir,wnd_spd,snow,rain,hour,month,year,dayOfMonth,weekend,wnd_dir_enc,pollution(t-1),pollution(t-2),pollution(t-3)
date,,,,,,,,,,,,,,,,,
2010-01-02 00:00:00,129.0,0.352941,0.245902,0.527273,SE,0.002290,0.000000,0.0,0,1,2010,2,5,0.666667,NaN,NaN,NaN
2010-01-02 01:00:00,148.0,0.367647,0.245902,0.527273,SE,0.003811,0.000000,0.0,1,1,2010,2,5,0.666667,129.0,NaN,NaN
2010-01-02 02:00:00,159.0,0.426471,0.229508,0.545455,SE,0.005332,0.000000,0.0,2,1,2010,2,5,0.666667,148.0,129.0,NaN
2010-01-02 03:00:00,181.0,0.485294,0.229508,0.563636,SE,0.008391,0.037037,0.0,3,1,2010,2,5,0.666667,159.0,148.0,129.0
2010-01-02 04:00:00,138.0,0.485294,0.229508,0.563636,SE,0.009912,0.074074,0.0,4,1,2010,2,5,0.666667,181.0,159.0,148.0

In [48]:
pollution_df.dropna(inplace=True)

In [49]:
pollution_df.head()

,pollution,dew,temp,press,wnd_dir,wnd_spd,snow,rain,hour,month,year,dayOfMonth,weekend,wnd_dir_enc,pollution(t-1),pollution(t-2),pollution(t-3)
date,,,,,,,,,,,,,,,,,
2010-01-02 03:00:00,181.0,0.485294,0.229508,0.563636,SE,0.008391,0.037037,0.0,3,1,2010,2,5,0.666667,159.0,148.0,129.0
2010-01-02 04:00:00,138.0,0.485294,0.229508,0.563636,SE,0.009912,0.074074,0.0,4,1,2010,2,5,0.666667,181.0,159.0,148.0
2010-01-02 05:00:00,109.0,0.485294,0.213115,0.563636,SE,0.011433,0.111111,0.0,5,1,2010,2,5,0.666667,138.0,181.0,159.0
2010-01-02 06:00:00,105.0,0.485294,0.213115,0.581818,SE,0.014492,0.148148,0.0,6,1,2010,2,5,0.666667,109.0,138.0,181.0
2010-01-02 07:00:00,124.0,0.485294,0.229508,0.600000,SE,0.017551,0.000000,0.0,7,1,2010,2,5,0.666667,105.0,109.0,138.0